a {
  text-decoration: none;
  color: inherit;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  background-color:#282c34 ;
}

.App-Options {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  background-color: #202227;
  border-radius: 5%;
  box-shadow: 0 0 0 1px 202227;
}

.Ui-Head {
  display: flex;
  margin-left: 3vw;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  color: #61dafb;
  align-self: center;
  height: 10vh;
  width: 100%;
}

.Ui-Menu {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 2.1vw;
  height: 0.9vh;
  background-color: #61dafb;
  margin: 0.5vh 0;
  /*transition: 0.4s;*/
}

.Ui-Clock {
  display:flex; 
  flex-direction:column; 
  flex:1;
}

.Ui-Menu-Options {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90vh;
  width: 20vw;
}

.Ui-Menu-Choice {
  width: 20vw;
  cursor: pointer;
  font-size: 2vw;
  padding-bottom: 1vh;
  box-shadow: 0px 3px #61dafb;
}

.Ui-Menu-Choice:hover {
  background-color: #4b4949;
  color: #61dafb;
}

#Head-Text {
  width: auto;
  font-size: 2vw;
}

#clock {
  font-size: 1.5vw;
  display: flex;
  align-self: center;
  color:#61dafb;
  margin-top: auto;
  margin-bottom: 0vh;
}

#credit {
  font-size: 1vw;
  display: flex;
  align-self: center;
  color:#61dafb;
  margin-top: 0vh;
}

#Ui-Menu-Choice-Top {
  border-top: 3px solid #61dafb;
}

#hidden {
  padding-left: 0.2vw;
}
